<div class="form-wrapper">
  <span class="title">Create Organisation</span>

  <%= render 'shared/error_messages' %>

  <%= form_for(@organisation, url: 'create_organisation') do |f| %>
    <%= f.label :name %>
    <div class="input-wrapper">
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.label :hourly_rate %>
    <div class="input-wrapper">
      <%= f.number_field :hourly_rate, step: 0.1, class: 'form-control' %>
    </div>

    <div class="btn-wrapper">
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>

    <div class="btn-wrapper">
      <a href=<%= "/current/#{current_user.id}" %>>
        <input class="btn btn-secondary" name="signup" type="button" value="Cancel" />
      </a>
    </div>
  <% end %>
</div>