<div class="form-wrapper">
  <span class="title">Enter Email and New Password</span>

  <%= render 'shared/error_messages' %>

  <%= form_for(@user, url: "forgot_password") do |f| %>
    <%= f.label :email_address %>
    <div class="input-wrapper">
      <%= f.email_field :email_address, class: 'form-control' %>
    </div>

    <%= f.label :password %>
    <div class="input-wrapper">
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.label :password_confirmation, "Confirmation" %>
    <div class="input-wrapper">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="btn-wrapper">
      <%= f.submit "Change", class: "btn btn-primary" %>
    </div>

    <div class="btn-wrapper">
      <a href="/login">
        <input class="btn btn-secondary" name="cancel" type="button" value="Cancel" />
      </a>
    </div>
  <% end %>
</div>